MalariaCells/cell-images-for-detecting-malaria.zip
MalariaCells/cell_images
MalariaCells/my_saved_cnn.h5
MalariaCells/my_augmented_cnn.h5
OpenCV/MyVideo.mp4
OpenCV/MyOutputVideo.avi
.ipynb_checkpoints
DogOrCat/dataset
DogOrCat/best_model.h5
styles
content
saved
__pycache__
Object Detection/ssd300_mAP_77.43_v2.pth
